.wife__text2 {
    margin: 0;
    position: absolute;
    width: 422px;
    height: 57px;
    left: 162px;
    top: 396px;
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 140.62%;
}