.header__gift-finder {
    position: absolute;
    top: 36.73px;
    right: 35.77px;
    padding: 13.97px 25px 7.53px 24px;
    color: #F7941E;
    border: 1px solid #F7941E;
    border-radius: 5px;
    text-decoration: none;
}