.wife__fgn {
    margin: 0;
    position: absolute;
    top: 505px;
    left: 162px;
    background: #F7941E;
    border-radius: 5px;
    width: 200px;
    line-height: 60px;
    text-align: center;
}