.table__text {
    padding: 24px;
    display: flex;
    max-width: 270px;
    max-height: 166px;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 10px 10px 5px rgb(122 122 122 / 0.1);
}